
.main-component-content{
    position:absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center; 
    color: white;
    overflow: scroll;
    z-index: 10;
}

.main-canvas{
    width: 400px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.666);
    overflow: hidden;
}

.user-canvas{
    width: 220px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;    
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e042;
    border-radius: 5px;
    overflow: hidden;
}

.user-canvas img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.form-row{
    gap: 10px;
}