.location-list{
    height: 600px;
    width: 400px;
    overflow-y: scroll;
    /* border: red 1px solid; */
}

.attraction-list{
    height: 600px;
    width: 400px;
    overflow-y: scroll;
    /* border: red 1px solid; */
}

.device-list{
    height: 600px;
    width: 700px;
    overflow-y: scroll;
    /* border: red 1px solid; */
}

.bread-crumb {
    border-bottom: 1px solid #eeeeee79;
    padding: 10px;
    font-size: 16px;
}

.editor{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* border: red 1px solid; */
}

.location-form {
    width: 600px;
    height: auto;
    margin: 100px auto;
}

.attraction-form{
    width: 600px;
    height: auto;
    margin: 100px auto;
}

.device-form{
    width: 600px;
    height: auto;
    margin: 100px auto;
}

.power-menu{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e042;
}

.device-power-buttons{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;
    width: auto;
    gap: 5px;
}

.button{
    width: 120px;
    height: 45px;
    background-color: #ffffff20;
    border: 1px solid #e0e0e042;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    padding: 5px;
    gap: 10px;
}

.button mat-icon{
    margin: 0px;
    border: 1px solid #e0e0e042;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
   
}

.online{
    color: #5aa557 !important;
}

.offline{
    color: #e74c3c !important;
}