

.dmx-canvas{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    color: white;
    overflow: scroll;
}

.dmx-cell{
    position: relative;
    width: 35px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255,0.4);
    margin: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dmx-channel{
    font-size: 10px;
    font-weight: lighter;
}

.dmx-divider{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

.dmx-value{
    font-size: 10px;
    font-weight: lighter;
}

.dmx-background{
    position: absolute;
    width: 100%;
    height: 18px;
    bottom: 0px;
    background-color: #63a92e;
    z-index: -1;
    border-radius: 0px 0px 4px 4px;
}