.tags-list{
    height: 100%;
    overflow-y: auto;
}

.attraction-list{
    height: 100%;
    width: 350px;
    overflow-y: scroll;
    /* border: red 1px solid; */
}

.bread-crumb{
    font-size: 12px;
    margin-right: 10px;
    padding-top: 10px;
    line-height: 22px;
    padding: 10px;
    background-color: #00000090;
    border-radius: 5px;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    width: 87%;
}

.tags-log{
    width: 500px;
     height: 100%;
    padding: 10px;
}

.output-event{
    width: 100%;
    height: 130px;
    overflow-y: scroll;
    background-color: #00000090;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-family: monospace;
    color: white;
    margin-bottom: 10px;
}

.input-event{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: #00000090;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-family: monospace;
    color: white;
    margin-bottom: 10px;
}


.table-list-container{
    height: 600px;
    overflow: scroll;
    /* border: red 1px solid; */
}

.device-form{
    margin-top: 10px;
}