
html{
	margin:0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background: black;

	/* background: url(https://screens.ronic.mx/___Assets/images/backgrounds/main_bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
	overflow: hidden;
}	

body{
	width: 100%;
	height: 100%;
	margin:0px;
	padding: 0px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	/* background: -moz-linear-gradient(-45deg,  #45484d 0%, #000000 100%); 
	background: -webkit-linear-gradient(-45deg,  #45484d 0%,#000000 100%); 
	background: linear-gradient(135deg,  #45484d 0%,#000000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );  */




	overflow: hidden;
}

p{
    margin: 0px !important;
}

input[type="number"]{
	width: 70px;
	height: 25px;
	text-align: center;
}

input[type="text"]:disabled {
	color: #838383 !important;;
}

input[type="password"]:disabled {
	color: #838383 !important;;
}

select:disabled {
	color: #838383 !important;;
}

input::placeholder {
	color: gray !important;
}
  
textarea::placeholder {
  	color: gray !important;
}


.item-shadow{
	-webkit-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.63);
	-moz-box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.63);
	box-shadow: 5px 5px 21px -4px rgba(0,0,0,0.63);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-transparent{
	background: rgb(0,0,0,0);
	border:none;
	color: white;
}


#TopMenu{
	width: 100%;
	height: 50px;
}

.menu-side{
	width:200px;
	background-color: rgb(15, 15, 15);
	height: 100%;
	padding: 20px;
}

.is-active{
	background-color: #333333 !important;
}

.menu-label{
	color: white;
}

.navbar-item-main{
	color: white !important;
}

.nav-bar-color{
	background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(18,18,18,1) 32%, rgba(54,54,54,1) 100%);
}

/* ------------------- Bulma Main moods ----------------- */

.is-widget-dark{
	background-color: #181818 !important;
	color:white;
}

.is-danger{
	background-color: #4d262680 !important;
}

.is-success{
	background-color: #264d2680 !important;
}

.is-link{
	background-color: #1d1db954 !important;
}


.is-danger:hover{
	background-color: #4d2626D0 !important;
}

.is-success:hover{
	background-color: #264d26D0 !important;
}

.is-link:hover{
	background-color: #26264dD0 !important;
}

.file-button{
	font-size: 16px !important;
	width: 100px !important;
	color: red !important;
	overflow: visible;
}

.field-border{
	border-radius: 4px !important;
	border-right: 1px solid rgba(88,88,88,0.4) !important;
	border-bottom: 1px solid rgba(88,88,88,0.4) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.6) !important;
	border-left: 1px solid rgba(0,0,0,0.6) !important;
}

.field-dark{
	background-color: #222222 !important;
	color: white !important;
}

.field-dark::placeholder{
	color: rgba(255, 255, 255, 0.2) !important;
	font-style: italic;
}

.textarea{
	color: white !important;
}

.label{
	color: white;
	font-size: 10px !important;
	font-style: italic;
}

.checkbox{
	color: white;
	font-size: 12px;
}

.column{
 	padding: 5px !important;
}

.columns{
	margin: 0px !important;
	padding: 0px !important;
}


@keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }
