

.devices-canvas{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.device{
    position: absolute;
    width: 170px;
    /* height: 50px; */
    left: 0;
    top: 0;
    background-color: #ffffff20;
    border: 1px solid #e0e0e042;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    cursor: move;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.device-icon{
    width: 45px;
    height: 45px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.device-info{
    padding: 5px;
    font-weight: lighter;
}

.device-name{
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 2px;
}

.device-ip{
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 2px;
}

.site-floor-plan{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 1500px;
    height: 850px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
}

.device-selected{
    background-color: #5aa5578b !important
}

.device-power-buttons{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 570px;
}

.button{
    width: 180px;
    height: 45px;
    background-color: #ffffff20;
    border: 1px solid #e0e0e042;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    padding: 5px;
}

.button mat-icon{
    margin: 10px;
    border: 1px solid #e0e0e042;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
   
}

.online{
    color: #5aa557 !important;
}

.offline{
    color: #e74c3c !important;
}


.device-label{
    font-size: 10px;
    font-weight: normal;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 10px;
    padding: 3px;
}