html,body{
    background: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; }

body,html {
    padding: 0px;
    margin: 0px;
    background: black;
    overflow: hidden;
}


.main-content{
    position:absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    color: white;
    overflow: scroll;
}

.panel{
    margin: 10px;
    height: 100%;
    position: relative;
}

.panel-title { /* sticky */
    font-size: 20px;
    font-weight: lighter;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: right;
    background: rgba(21, 41, 62, 0.5);
    position: sticky;
    top: 0;
}



.layout-row {
    width: 100% ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.layout-column {
    width: 100%;
    display: flex;
    flex-direction: column;
     gap: 10px;
}

.frost-background {
    backdrop-filter: blur(10px);
    background: rgba(94, 94, 94, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.hard-background{
     background: rgba(31, 31, 31, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.drop-shadow{
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
}

.yellow-state {
    background-color: rgb(182, 167, 76);
}

.orange-state {
    background-color: rgb(185, 116, 55);
}

.green-state {
    background-color: rgb(64, 120, 64);
}

.red-state {
    background-color: rgb(125, 50, 50);
}


.blue-state {
    background-color: rgb(38, 82, 121);
}


.green-color-state {
    color: rgb(93, 206, 93);
}

.red-color-state {
    color: rgb(223, 100, 100);
}


.blue-color-state {
    color: rgb(38, 82, 121);
}


.gray-border{
    border: 1px solid rgba(94, 94, 94, 0.772);
}


.flex-panel-row{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flex-panel-column{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.flex-centered{
    justify-content: center !important;
}

.frost-background {
    backdrop-filter: blur(10px);
    background: rgba(94, 94, 94, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.clear-background {
    border: 1px solid rgba(255, 255, 255, 0.1);
}



.gray-border{
    border: 1px solid rgba(94, 94, 94, 0.772);
}

.button{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px;
    height: 30px;
    width: 80px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
}

.short-button{
    /* position: absolute;
    bottom: 0px;
    right: -30px; */
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px;
   
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button{
   border: 1px solid gray;
    border-radius: 5px;
    margin: 0px;
    height: 30px;
    width: 80px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
}


.button-line {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 5px;
}

/* .button{

    height: 45px;
    background-color: #ffffff20;
    border: 1px solid #e0e0e042;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    padding: 5px;
}

.button mat-icon{
    margin: 10px;
    border: 1px solid #e0e0e042;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
   
} */

.form-canvas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    border: 1px solid #e0e0e042;
    border-radius: 5px;
    padding: 10px;
}

.form-header{
    /* border: 1px solid red; */
    width: 100%;
}

.form-logo{
    text-align: center;
}


.form-divider{
    width: 100%;
    height: 1px;
    background-color: #e0e0e042;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.form-group{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-right: 10px;
    /* border: blue 1px solid; */
}

.form-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
    margin: 5px 0;
    /* border: red 1px solid; */
}

.form-field{
    /* width: 180px; */
    height: 30px;
    background-color: #ffffff20;
    border: 1px solid #e0e0e042;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    font-weight: lighter;
    padding: 5px;
    color: white;
    z-index: 2;
}

.form-button{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px;
    height: 30px;
    width: 80px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    margin-top: 5px;
}

.inline-field{
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: baseline
}


input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
	width: 26px;
	height: 26px;
	border: 1px solid #3f3f3fa5;
	background: #262626 !important;
}

input[type="checkbox"]:checked {
    background: #0fbf12 !important;
}

.form-label{
    font-size: 12px;
    font-weight: lighter;
    color: white;
    text-align: left;
    padding: 0px;
    margin-bottom: 0px; 
    margin-top: 0px;
}


.field-small{
    width:50px
}

.field-short{
    width:100px
}


.field-medium{
    width:180px
}

.field-long{
    width: 300px;
}

.icon{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 5px;

    color: white;
}

.icon mat-icon {
    margin-top: 7px;
    margin-left: 7px;
    cursor: pointer;
}


.icon-small{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: white;
}

.icon-small mat-icon {
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
}


.connected{
    background-color: rgb(38, 82, 121);
}

.connecting{
    background-color: rgb(120, 121, 38);
}

.discoonnected{
    background-color: rgb(121, 38, 38);
}

/* ----------------- TABLES ------------------- */
.table-list-control {
    width: 100% ;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.table-list-title{
    width: 100%;
    text-align: right;
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.431);
    padding: 10px;
}

.table-list{
    display: table;
    width: 100%;
    font-size: 10px;
}

.table-header, .table-row {
    display: table-row;
}

.table-header > div, .table-row > div {
    display: table-cell;
    padding: 8px 12px;
    border-bottom: 1px solid #eeeeee3f;
    text-wrap: nowrap;
    font-weight: lighter;
}

.table-header { /* sticky header */
    background-color: #2f2f2fcd;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}
.table-row:nth-child(even) {
    background-color: #f3f3f317;
}
.table-row:hover {
    background-color: #d4d4d433;
    cursor: pointer;
}

.table-row-icon{

    width: 15px !important;
    height: 15px !important;
    padding: 0px !important;
    margin-top: 0px !important;
}

.selected {
    background-color: #0a610f81 !important;
}

.list-checkbox{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.list-checkbox-active{
    background-color: rgba(99, 198, 38, 0.5);
}

.list-checkbox-inactive{
    background-color: rgba(198, 38, 38, 0.5);
}

.list-checkbox-warning{
    background-color: rgba(208, 208, 3, 0.771);
}

    

.form-checkbox {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top:10px;
}

.form-checkbox-active{
    background-color: rgba(99, 198, 38, 0.5);
}

.form-checkbox-inactive{
    background-color: rgba(198, 38, 38, 0.5);
}